<div class="login-wrapper">
  <div class="login-container">
    <div class="svg-container">
      <img src="assets/eye/circle.png" alt="Circle" class="svg-layer" />
      <img src="assets/eye/light_reflection.png" alt="Light Reflection" class="svg-layer" />
      <img src="assets/eye/reflection.png" alt="Reflection" class="svg-layer" />
      <img src="assets/eye/eye.png" alt="Eye" class="svg-layer" [ngStyle]="{'top': eyePosition.top, 'left': eyePosition.left}"/>
    </div>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
